<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block tittle %} Unidad Educativa Eloy Alfaro{% endblock %} </title>

    <link rel="stylesheet" href="../static/miestilos.css">
</head>

<body>
<h1> Unidad Educativa Eloy Alfaro</h1>
    <ul>
        <li>   <a href="/">Portada</a>              </li>
        <li>   <a href="/UnidadEducativa/">UnidadEducativa</a>   </li>
        <li>   <a href="/Administrador/">Administrador</a>     </li>
        <li>   <a href="/LOGIN/">LOGIN</a>     </li>
        <li>   <a href="/Carga_de_documentos/">Carga_de_documentos</a>     </li>
    </ul>
<address>Creada el 29 de julio del 2020<br>
  Proyecto Reto #3.</address>
{%   block content  %} {% endblock %}
<div class="separador1"></div>
<img class="centro" src="/static/Escuela.JPEG.jpeg" alt="ERROR A CARGAR IMAGEN">

<div class="main">

</div>

<footer>
    Johanna Narvaez LIDER
    <footer>
        Miguel Carrera
        <footer>
            Sony Salvatierra
            <footer>
                Raquel loor
                <footer>
                    Geancarlo  Delgado
</body>
</html>